@model IEnumerable<ApiExpedientes.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentificadorFiscal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente1.GrupoEmpresarial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrupoPersona1.GrupoPersona1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pai.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pai1.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segmento1.Segmento1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoFiscal.TipoFiscal1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificadorFiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente1.GrupoEmpresarial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoPersona1.GrupoPersona1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pai.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pai1.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segmento1.Segmento1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoFiscal.TipoFiscal1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProveedorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProveedorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProveedorId })
        </td>
    </tr>
}

</table>
