@model ApiExpedientes.Models.Rol_Privilegio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rol_Privilegio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privilegio.Privilegio1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privilegio.Privilegio1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.RolDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.RolDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
